@{
    ViewData["Title"] = "Index";
}

<h1>Aulas JS</h1>
<a class="nav-link" asp-area="Admin" asp-controller="Geolocalizacao" asp-action="Index">Geolocalização</a>

<h1>Página de exercicios Front-End</h1>

<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
<a class="nav-link" asp-area="Admin" asp-controller="Pais" asp-action="Index">Países</a>
<a class="nav-link" asp-area="Admin" asp-controller="Continente" asp-action="Index">Continentes</a>
<a class="nav-link" asp-area="Admin" asp-controller="Pais" asp-action="Grafico">Gráfico</a>
<a class="nav-link" asp-area="Admin" asp-controller="Usuario" asp-action="Index">Usuários</a>
<a class="nav-link" asp-area="Admin" asp-controller="Kanban" asp-action="Index">Kanban</a>
<a class="nav-link" asp-area="Admin" asp-controller="Camera" asp-action="Index">Camera</a>
<a class="nav-link" asp-area="Admin" asp-controller="Banner" asp-action="ListaBanners">Banners</a>